

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Quicksand:wght@300..700&display=swap');


:root {
    --darkgreen: #72A603;
    --lightgreen: #C5D930;
    --lightbrown: #8C4A32;
    --brown: #592316;
    --grey: #D9D9D9;
    --box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}



body{
    background-color:  var(--grey);
}

header{
    background-color:#C5D930;
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    color: #592316;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:1rem;
    list-style: none;
}

a{
    text-decoration: none;
}


.temperature{
   
    text-align: center;
}

#chart-container{
    
    width: 650px;
    height: 300px;
}

#chocolat{
  float:left;
}

@media screen and (min-width: 768px) {
    
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (min-width: 1024px) {
    
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}