
body{
    background-color:  #8C4A32;
}

header{
    background-color:#C5D930;
    padding: 1rem;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:1rem;
    list-style: none;
}

a{
    text-decoration: none;
}


.temperature{
    float: right;
    text-align: center;
}

#chart-container{
    float: right;
    width: 650px;
    height: 300px;
}


@media screen and (min-width: 768px) {
    
}

@media screen and(min-width:1024px) {
    
}